@media(max-width:500px){
.navbar{
    width:8px 0px;
    gap:0;
}
.nav-logo{
    transform: scale(0.8);
    }
.nav-menu{
        height: 70px;
        top: 50px;
 }
 .nav-login-cart{
    transform: scale(0.8);
    
 }

}